[submodule ".community"]
	path = .community
	url = https://github.com/kiss-community/repo-community
[submodule ".xorg"]
	path = .xorg
	url = https://github.com/ehawkvu/kiss-xorg
[submodule ".repo"]
	path = .repo
	url = https://github.com/kisslinux/repo
